header {
    background-color: black;
    color: red;
    text-align: center;
    margin: 30px;
}

footer {
    background-color: black;
    color: red;
    text-align: center;
    margin: 30px;
}

h1 {
    color: red;
    text-align: center;
    background-color: black;
    margin: 30px;
}

h2 {
    color: red;
    text-align: center;
}

p {
    color: black;
    text-align: center;

}